/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000ff; /* Fondo azul */
}

header {
    background: linear-gradient(to right, red, yellow, red); /* Gradiente de rojo a amarillo */
    color: white;
    padding: 20px;
    text-align: center;
}

#searchBar {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
}

/* Estilo de las categorías */
.category {
    margin: 20px;
}

.category h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007bff;
}

.items {
    display: none; /* Ocultar por defecto */
}

/* Estilos para los ítems de cada categoría */
.item {
    padding: 10px;
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botón Ver Más */
.toggle-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%; /* 50% de ancho en pantallas pequeñas */
    margin: 10px auto; /* Centrar horizontalmente */
    display: block; /* Asegurar que el botón se comporte como un bloque */
    text-align: center;
}

.toggle-button:hover {
    background-color: #0056b3;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .toggle-button {
        width: 50%; /* Ajustar el ancho al 50% en dispositivos móviles */
    }
}
