/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #FF0000, #FFCC00);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
}

/* Barra de búsqueda */
#searchBar {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
}

/* Categorías */
.category {
    margin: 20px 0;
}

.category h2 {
    font-size: 1.8rem;
    color: white;
    background: linear-gradient(to right, #FF0000, #FFCC00);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Estilo del botón 'Ver más' */
.category button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    width: auto;
}

/* Hover efecto del botón 'Ver más' */
.category button:hover {
    background-color: #0056b3;
}

/* Items dentro de la categoría */
.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

/* Estilo de los platos */
.item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

.item p {
    font-size: 1rem;
    color: #666;
}

/* Separadores entre platos */
.item + .item {
    margin-top: 20px;
}

/* Botón de expansión (colapsar/expandir) */
.expand-button {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.expand-button:hover {
    background-color: #ff4500;
}

/* Adaptación para móviles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .category h2 {
        font-size: 1.5rem;
    }

    .category button {
        font-size: 1rem;
    }

    .items {
        grid-template-columns: 1fr;
    }
}
